


html, body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 20px;
    background-image: url(/images/white-wall.jpg); /* Photo by Lorenzo from Pexels */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
	padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 0;
    background-image: url(/images/japan-lantern.jpg); /* Credit Alex Knight on Unsplash https://unsplash.com/photos/5-GNa303REg */
    background-size: cover;
    background-position: top;
}

header span {
    border-bottom: 2.5px solid;
	font-size: 32px;
    letter-spacing: 1.3px;
    line-height: 2;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: lighter;
}

header h1 {
    font-size: 125px;
    font-weight: normal;
    letter-spacing: 1.3px;
    margin-top: 24px;
    margin-bottom: 40px;
    line-height: 1;
}

/* The navbar list came from alphardex, https://codepen.io/alphardex/pen/QWwveZG. Sass it, drop it, and with a few adjustments, it looks pretty good. -webkit-background-text needs to be added manually; sass output doesn't do it right. */

ul {
    padding: 0;
    margin: 0;
    background: black;
    text-align: center;
    width: 100%;

}
    ul li {
        display: inline;
     }
      ul li a {
        --fill-color: #198CE6;
        position: relative;
        display: inline-block;
        margin-left: 7rem;
        margin-right: 7rem;
        padding: 4px 0;
        font: 700 3rem Raleway, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 2px var(--fill-color);
        background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
        color: transparent;
        -webkit-background-clip: text;
        transition: 0.5s linear; }
        ul li a:hover {
          background-size: 100%; }

.definition {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 60%;
    margin: 0 auto;
}

.para {
    font-size: 20px;
    margin: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer .svglink,
footer svglink:hover {
    text-decoration: none;
}

footer svg {
    fill: rgb(0, 0, 0);
    width: 20px;
}

footer svg:hover {
    fill: rgb(212,175,55);
    stroke: rgb(212,175,55);
}

svg {
    stroke: rgb(185, 180, 169);
    stroke-width: 1;
    fill: rgb(185, 180, 169);
    margin: 0 auto;
}