
:root {
    font-size: 1vw; /* Mobile optimization isn't key right now. I just wanted it to look decent on mobile without having to bother with media queries, breakpoints, etc. It was a jumbled mess before making this change and going from px to rem.*/
    width: 100%;
}

html, body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 1.25rem;
    background-image: url(/images/white-wall.jpg); /* Photo by Lorenzo from Pexels */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
	padding-top: 2.5rem;
    padding-bottom: 3.125rem;
    margin-bottom: 0;
    background-image: url(/images/japan-lantern.jpg); /* Credit Alex Knight on Unsplash https://unsplash.com/photos/5-GNa303REg */
    background-size: cover;
    background-position: top;
}

header span {
    border-bottom: 2px solid;
	font-size: 2rem;
    letter-spacing: 0.081rem;
    line-height: 2;
    padding-bottom: 0.938rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    font-weight: lighter;
}

header h1 {
    font-size: 7.813rem;
    font-weight: normal;
    letter-spacing: 0.081rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 1;
}

/* The navbar list came from alphardex, https://codepen.io/alphardex/pen/QWwveZG. Sass it, drop it, and with a few adjustments, it looks pretty good. -webkit-background-text needs to be added manually; sass output doesn't do it right. */

ul {
    padding: 0;
    margin: 0;
    background: black;
    text-align: center;
    width: 100%;
}
    ul li {
        display: inline;
     }
      ul li a {
        --fill-color: #198CE6;
        position: relative;
        display: inline-block;
        width: 20rem;
        padding: 0.25rem 0;
        font: 700 2.5rem Raleway, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 0.125rem var(--fill-color);
        background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: 0.5s linear; }
        ul li a:hover {
          background-size: 100%; }

.definition {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 60%;
    margin: 0 auto;
}

.para {
    font-size: 1.25rem;
    margin: 1.25rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer .svglink,
footer svglink:hover {
    text-decoration: none;
}

footer svg {
    fill: rgb(0, 0, 0);
    width: 20px;
}

footer svg:hover {
    fill: rgb(212,175,55);
    stroke: rgb(212,175,55);
}

svg {
    stroke: rgb(185, 180, 169);
    stroke-width: 1;
    fill: rgb(185, 180, 169);
    margin: 0 auto;
}

/* Blog "coming soon" page background */

#myVideo {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Add some content at the bottom of the video/page */
  #content {
    position: fixed;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    font-size: 7rem;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
  }

  #blog-return {
    position: fixed;
    font-family: 'outrun_futureregular';
    text-align: left;
    top: 0;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgba(148, 0, 211, 0.4);
    width: 100%;
    text-decoration: none;
  }

#blog-background {
  background: none;
  margin: 0;
  padding: 0;
}

  /* Portfolio coming soon page; Rachel Nabors, https://codepen.io/rachelnabors/pen/AvGhp*/
  .tuna {
    animation: walk-cycle 1s steps(12) infinite;
    background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
  }

  @keyframes walk-cycle {
    0% {background-position: 0 0; }
    100% {background-position: 0 -2391px; }
  }

  .foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    translate3d(0,0,0);
  }

  .foreground {
    animation: parallax_fg linear 10s infinite both;
    background:  url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
    z-index: 3;
  }

  @keyframes parallax_fg {
    0% { background-position: -3584px 100%;}
    100% {background-position: 0 100%; }
  }

  .midground {
    animation: parallax_mg linear 20s infinite;
    background:  url(http://stash.rachelnabors.com/24ways2012/midground_grass.png) 0 100% repeat-x;
    z-index: 2;
  }

  @keyframes parallax_mg {
    0% { background-position: -3000px 100%;}
    100% {background-position: 0 100%; }
  }

  .background {
    background-image:
      url(http://stash.rachelnabors.com/24ways2012/background_mountain5.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain4.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain3.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain2.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain1.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
  }

  @keyframes parallax_bg {
    100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
  }

  body {
      background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
      #d2d2d2 url(http://stash.rachelnabors.com/24ways2012/background_clouds.png);
  }

  #portfolio {
    font-family: 'Alegreya SC', serif;
    text-align: center;
    font-size: 7rem;
    background: transparent;
  }


